.root {
  -fx-background: #1d1d1d;
  -fx-button-background: #3d3d3d;
  -fx-button-text-color: #d8d8d8;
  -fx-highlight-fill: #4f4f4f;
  -fx-highlight-text-fill: -fx-background;
  -fx-text-base-color: white;
  -fx-font-size: 11pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: -fx-text-base-color;
}

.label {
  -fx-opacity: 0.6;
}

.label-bright {
  -fx-opacity: 1;
}

.label-header {
  -fx-font-size: 32pt;
  -fx-font-family: "Segoe UI Light";
  -fx-text-fill: -fx-text-base-color;
  -fx-opacity: 1;
}

.table-view {
  -fx-base: -fx-background;
  -fx-control-inner-background: -fx-background;
  -fx-background-color: -fx-background;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.table-view .column-header-background {
  -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
  -fx-size: 35;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
  -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
  -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
  -fx-font-size: 20pt;
  -fx-font-family: "Segoe UI Light";
  -fx-text-fill: -fx-text-base-color;
  -fx-alignment: center-left;
  -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
  -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
  -fx-border-color: transparent -fx-background transparent -fx-background;
  -fx-background-color: transparent, derive(-fx-background, 20%);
}

.split-pane {
  -fx-padding: 1 0 0 0;
}

.menu-bar {
  -fx-background-color: derive(-fx-background, 20%);
}

.context-menu {
  -fx-background-color: derive(-fx-background, 50%);
}

.menu-bar .label {
  -fx-font-size: 14pt;
  -fx-font-family: "Segoe UI Light";
  -fx-text-fill: -fx-text-base-color;
  -fx-opacity: 0.9;
}

.menu .left-container {
  -fx-background-color: black;
}

.text-field {
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.choice-box,
.button {
  -fx-min-height: 40px;
  -fx-pref-height: 40px;
  -fx-spacing: 0.333em;
  -fx-padding: 0 22 0 22;
  -fx-border-width: 0;
  -fx-background-radius: 0;
  -fx-background-color: -fx-button-background;
  /*-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
  /*-fx-font-size: 11pt;*/
  -fx-text-fill: -fx-button-text-color;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.choice-box:hover,
.button:hover {
  -fx-background-color: -fx-highlight-fill;
}

.choice-box:pressed, .choice-box:default:hover:pressed,
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -fx-text-base-color;
  -fx-text-fill: -fx-background;
}

.choice-box:disabled, .choice-box:default:disabled,
.button:disabled, .button:default:disabled {
  -fx-opacity: 0.4;
  -fx-background-color: -fx-background;
  -fx-text-fill: -fx-text-base-color;
}

.choice-box:default,
.button:default {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: -fx-highlight-fill;
}

.choice-box:default:hover,
.button:default:hover {
  -fx-background-color: derive(-fx-focus-color, 30%);
}

.chart-legend {
  -fx-background-color: null;
  -fx-background-radius: 0;
}

.choice-box {
  -fx-padding: 0 0 0 0; /* 4 8 4 8 */
}

.choice-box > .label {
  /*-fx-font-size: 11pt;*/
  /*-fx-font-family: "Segoe UI Semibold";*/
  -fx-text-fill: -fx-text-base-color;
}

.choice-box:default > .label {
  -fx-text-fill: -fx-text-base-color;
}

.choice-box:pressed > .label,
.choice-box:default:pressed > .label {
  -fx-text-fill: -fx-background;
}

.accordion > .panes,
.accordion,
.scroll-pane,
.titled-pane,
.titled-pane > *.content {
  -fx-padding: 0;
  -fx-border-color: null;
  -fx-border-width: 0;
  -fx-background-color: null;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
}

.scroll-pane {
  -fx-padding: 5 0;
}

.titled-pane > .title {
  -fx-background-color: -fx-button-background;
}

.titled-pane > .title:hover {
  -fx-background-color: -fx-highlight-fill;
}

.titled-pane:hover > .title > .arrow-button > .arrow {
  -fx-background-color: -fx-text-base-color;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(two-pass-box, -fx-focus-color, 5, 0.5, 0, 0);
}

.titled-pane > .title > .arrow-button {
  -fx-background-color: null;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}

.titled-pane > .title > .arrow-button > .arrow {
  -fx-background-color: -fx-text-base-color;
  -fx-background-insets: 0;
  -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
  -fx-shape: "M 0 0 h 7 l -3.5 4 z";
  -fx-effect: null;
}

.icon-button {
  -fx-graphic-text-gap: 8;
  -fx-padding: 0 22 0 8;
}

.icon-graphic {
  -icon-paint: -fx-text-base-color;
  -fx-background-color: -icon-paint;
  -size: 24px;
  -fx-min-height: -size;
  -fx-min-width: -size;
  -fx-max-height: -size;
  -fx-max-width: -size;

}

.icon-graphic:hover {
  -icon-paint: #efefef;
}

.sidebar-menu .selected .icon-graphic,
.icon-graphic:pressed {
  -icon-paint: -fx-background;
}

.hamburger {
  -fx-shape: "M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z";
}

.graph {
  -fx-shape: "M357,166.839c0-4.882-3.957-8.839-8.839-8.839H151.839c-4.882,0-8.839,3.957-8.839,8.839v166.322    c0,4.882,3.957,8.839,8.839,8.839h196.322c4.882,0,8.839-3.957,8.839-8.839V166.839z M224.505,225.006    c-6.098,0-11.042,4.943-11.042,11.042c0,1.459,0.293,2.848,0.808,4.123L205,252.081V175h40v66.635l-9.168-5.303    c0.002-0.095-0.136-0.188-0.136-0.284C235.696,229.95,230.603,225.006,224.505,225.006z M221.635,246.698    c0.918,0.247,1.876,0.391,2.871,0.391c2.397,0,4.909-0.772,6.719-2.07L245,253.078V324h-40v-55.934L221.635,246.698z M255,258.952    l8.487,5.309c-0.017,0.252-0.233,0.503-0.233,0.759c0,6.098,4.846,11.042,10.944,11.042c6.098,0,10.993-4.943,10.993-11.042    c0-1.533,0.349-2.992-0.215-4.319L295,248.926V324h-40V258.952z M277.476,254.322c-0.862-0.216-2.103-0.344-3.033-0.344    c-2.232,0-4.087,0.667-5.824,1.806L255,247.508V175h40v58.145L277.476,254.322z M160,175h36v89.694l-15.763,19.712    c-0.712-0.144-1.655-0.221-2.41-0.221c-6.098,0-11.145,4.943-11.145,11.042c0,6.098,4.892,11.042,10.99,11.042    c6.098,0,11.016-4.943,11.016-11.042c0-1.714,0-3.329-0.697-4.777l8.01-9.771V324h-36V175z M340,324h-36v-87.426l15.954-20.414    c0.745,0.159,1.379,0.246,2.172,0.246c6.098,0,10.972-4.943,10.972-11.042c0-6.098-4.978-11.042-11.076-11.042    c-6.098,0-11.059,4.943-11.059,11.042c0,1.674,0.651,3.255,1.318,4.677L304,220.793V175h36V324z";
}

.settings {
  -fx-shape: "M17.4,11 C17.4,10.7 17.5,10.4 17.5,10 C17.5,9.6 17.5,9.3 17.4,9 L19.5,7.3 C19.7,7.1 19.7,6.9 19.6,6.7 L17.6,3.2 C17.5,3.1 17.3,3 17,3.1 L14.5,4.1 C14,3.7 13.4,3.4 12.8,3.1 L12.4,0.5 C12.5,0.2 12.2,0 12,0 L8,0 C7.8,0 7.5,0.2 7.5,0.4 L7.1,3.1 C6.5,3.3 6,3.7 5.4,4.1 L3,3.1 C2.7,3 2.5,3.1 2.3,3.3 L0.3,6.8 C0.2,6.9 0.3,7.2 0.5,7.4 L2.6,9 C2.6,9.3 2.5,9.6 2.5,10 C2.5,10.4 2.5,10.7 2.6,11 L0.5,12.7 C0.3,12.9 0.3,13.1 0.4,13.3 L2.4,16.8 C2.5,16.9 2.7,17 3,16.9 L5.5,15.9 C6,16.3 6.6,16.6 7.2,16.9 L7.6,19.5 C7.6,19.7 7.8,19.9 8.1,19.9 L12.1,19.9 C12.3,19.9 12.6,19.7 12.6,19.5 L13,16.9 C13.6,16.6 14.2,16.3 14.7,15.9 L17.2,16.9 C17.4,17 17.7,16.9 17.8,16.7 L19.8,13.2 C19.9,13 19.9,12.7 19.7,12.6 L17.4,11 L17.4,11 Z M10,13.5 C8.1,13.5 6.5,11.9 6.5,10 C6.5,8.1 8.1,6.5 10,6.5 C11.9,6.5 13.5,8.1 13.5,10 C13.5,11.9 11.9,13.5 10,13.5 L10,13.5 Z";
}

.current {
  -fx-shape: "M11.98,6.99l19,0.02c0.552,0,1-0.448,1-1s-0.448-1-1-1l-19-0.02c-0.552,0-1,0.448-1,1   C10.98,6.542,11.428,6.99,11.98,6.99z M31,15l-19-0.02c-0.552,0-1,0.448-1,1s0.448,1,1,1L31,17c0.552,0,1-0.448,1-1C32,15.448,31.552,15,31,15z M31,25l-19-0.02c-0.552,0-1,0.448-1,1c0,0.552,0.448,1,1,1L31,27c0.552,0,1-0.448,1-1   C32,25.448,31.552,25,31,25z M3.99,2.02C1.786,2.02,0,3.806,0,6.01C0,8.214,1.786,10,3.99,10c2.204,0,3.99-1.786,3.99-3.99   C7.98,3.806,6.194,2.02,3.99,2.02z M3.98,8.01c-1.124,0-2.025-0.876-2.025-2s0.901-2,2.025-2c1.124,0,2,0.876,2,2   S5.104,8.01,3.98,8.01z M3.99,12.02C1.786,12.02,0,13.806,0,16.01C0,18.214,1.786,20,3.99,20c2.204,0,3.99-1.786,3.99-3.99   C7.98,13.806,6.194,12.02,3.99,12.02z M3.98,18.01c-1.124,0-2.025-0.876-2.025-2s0.901-2,2.025-2c1.124,0,2,0.876,2,2   S5.104,18.01,3.98,18.01z M3.99,22C1.786,22,0,23.786,0,25.99c0,2.204,1.786,3.99,3.99,3.99c2.204,0,3.99-1.786,3.99-3.99   C7.98,23.786,6.194,22,3.99,22z M3.98,27.99c-1.124,0-2.025-0.876-2.025-2s0.901-2,2.025-2c1.124,0,2,0.876,2,2   S5.104,27.99,3.98,27.99z";
}

.sidebar-menu {
  -fx-background-color: -fx-button-background;
}

.sidebar-menu .icon-button {
  -fx-min-width: 0;
  -fx-max-width: infinity;
  -fx-alignment: baseline-left;
}

.sidebar-menu .selected {
  -fx-background-color: -fx-text-base-color;
  -fx-text-fill: -fx-background;
}